ul,
li,
ol {
  list-style-type: none;
}
* {
  font-family: "微软雅黑";
}
a:focus,
a:hover {
  text-decoration: none;
}
.row {
  padding-left: 0;
  margin-bottom: 0;
}
#head {
  /* line-height: 70px; */
  background: white;
  border-bottom: solid 1px #ececec;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
}

#head nav{
  padding: 15px 0px;
}

#head .menu li {
  margin: 0 34px;
}

#head .menu li a {
  text-align: center;
  color: #000;
  display: block;
  margin: auto;
  position: relative;
  font-size: 16px;
}
#head .menu .active a,
#head .menu li:hover a {
  color: #164a8b;
}

.main{
  margin-top: 97px;
}

.text-center{
  font-size: 46px;
}

.center-container{
  width: 1500px;
  font-weight: 500;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.center-container.head{
  font-size: 36px;
  line-height: 50px;
  color: rgba(51, 51, 51, 1);
  margin-top: 100px;
  margin-bottom: 40px;
}

.center-container .node{
  cursor: pointer;
  padding-left: 50px;
  padding-bottom: 88px;
  width: 376px;
}

.center-container .node:hover{
  
  background: #FFFFFF;
  
  box-shadow: 10px 16px 50px 0px rgba(2, 79, 55, 0.1);
}

.center-container .caption{
  padding-left: 10px;
}

.center-container .caption .h3{
  margin-bottom: 27px;
  width: 100px;
  font-size: 26px;
  line-height: 37px;
}

.center-container .caption .p{
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 22px;
  opacity: 0.43;
}

.center-container .node:hover .p{
  display: list-item;
  opacity: 1;
}

.solution .d-none{
  display: none;
}

.solution .d-none.active{
  display: block;
}

.solution .center-container .card {
  color: #11AAB3;
  width: 330px;
  height: 188px;
  cursor: pointer;
  padding-left: 20px;
  opacity: 0.3;
  border: 1px solid #34BEC8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.solution .center-container .card img{
  width: 134px;
}

.solution .center-container .card.active {
  padding-left: 36px;
  width: 434px;
  height: 211px;
  opacity: 1;
  border: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  box-shadow: 10px 16px 50px 6px rgba(2, 79, 55, 0.1);;
}

.solution .center-container .card .head {
  z-index: 2;
  width: 330px;
}

.solution .center-container .card .left {
  display: none;
}

.solution .center-container .card.active .left {
  width: 250px;
  display: block;
}

.solution .center-container .card.active .left .p{
  display: list-item;
}

.solution .center-container .card .right {
  margin-top: -20px;
  align-self: flex-end;
}

.solution .customer-card{
  width: 727px;
  background: #FFFFFF;
  border: 1px solid #34BEC8;
  margin-top: 40px;
}

.solution .customer-card .item{
  margin: 41px 0 44px 30px;
}

.solution .customer-card .head{
  font-size: 30px;
  line-height: 42px;
  color: rgba(51, 51, 51, 1);
}

.solution .customer-card .body{
  font-size: 22px;
  line-height: 30px;
  color: rgba(136, 136, 136, 1);
  max-width: 513px;
}

.solution .value-customer{
  background: #F3F3F3;
  padding: 100px 0 153px;
  margin-top: 130px;
}

.solution .service-desc{
  background: #F3F3F3;
  padding: 26px 30px 29px;
  line-height: 33px;
  margin-bottom: 120px;
}

.solution .service-desc .head{
  font-size: 24px;
}

.solution .service-desc .body{
  font-size: 16px;
}

.solution .scenarios-cards{
  background-color: rgba(52, 190, 200, 0.17);
  padding: 100px 0;
}

.solution .scenarios-card{
  text-align: center;
  cursor: pointer;
}

.solution .scenarios-card .not-hover{
  width: 310px;
  height: 400px;
  padding: 128px 55px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
}

.solution .scenarios-card .not-hover .head{
  color: rgba(39, 63, 75, 1);
  opacity: 1;
  font-size: 20px;
  line-height: 28px;
  margin: 33px 0;
}

.solution .scenarios-card:hover .not-hover{
  display: none !important;
}

.solution .scenarios-card .hover{
  display: none;
}

.solution .scenarios-card:hover .hover{
  display: block !important;
  width: 494px;
  height: 462px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  padding: 37px 30px 58px;
  margin-top: -31px;
  box-shadow: 0px 2px 20px 0px rgba(0, 109, 112, 0.1);
}

.solution .scenarios-card:hover .hover .head{
  font-size: 26px;
  line-height: 37px;
  margin-top: 7px;
}

.solution .scenarios-card:hover .hover .body{
  font-size: 16px;
  line-height: 37px;
  color: #888888;
}


.solution .center-container .characterist{
  height: 248px;
  background: #34BEC8;
  padding: 56px;
  text-align: center;
}

.solution .center-container .characterist .text {
  color: rgba(255, 255, 255, 1);
  font-size: 26px;
  line-height: 37px;
  margin: 31px;
}

.solution .center-container .article{
  background: #F3F3F3;
  padding: 40px;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 106px;
}

.solution .center-container .data-center {
  flex-wrap: wrap;
}

.solution .center-container .cover {
  position: relative;
  line-height: 42px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 18px;
}

.solution .center-container .cover .head {
  position: absolute;
  top: 12px;
  left: 23px;
  font-size: 20px;
}

.solution .center-container .cover .body {
  position: absolute;
  left: 23px;
  top: 54px;
  font-size: 30px;
}

.solution .center-container .content {
  width: 1154px;
  padding: 48px 30px;
  color: #273F4B;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 18px;
}

.center-container .about-us.title{
  margin: 80px;
  position: absolute;
  color: rgba(39, 177, 187, 1);
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 106px;
}


.center-container .about-us.article{
  background: #F3F3F3;
  padding: 40px;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 106px;
}

.center-container .about-us.article span:first-child{
  color: #273F4B;
  font-size: 22px;
  line-height: 30px;
}

.our-cases{
  height: 1787px;
  margin-bottom: 97px;
}

.our-cases .center-container .head{
  /* background: rgba(0, 0, 0, 0.2); */
  /* height: 168px; */
  position: absolute;
  font-size: 40px;
  line-height: 56px;
  margin: 71px 106px 0px 100px;
  z-index: 2;
  opacity: 0.92;
}

.our-cases .center-container .head::before{
  content: '|';
  font-size: 28px;
  vertical-align: 6px;
  margin-right: 36px;
  margin-left: -36px;
}

.our-cases .center-container .body{
  position: absolute;
  font-size: 24px;
  line-height: 43px;
  margin: 195px 106px 0px 100px;
  z-index: 2;
  opacity: 0.92;
}

.our-cases .center-container .text{
  position: absolute;
  font-size: 20px;
  line-height: 33px;
  margin: 367px 106px 0px 100px;
  z-index: 2;
  opacity: 0.92;
}

.our-cases .center-container .footer{
  width: 195px;
  height: 50px;
  position: absolute;
  bottom: 30px;
  border: 2px solid #FFFFFF;
  left: 100px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  padding: 8px;
  z-index: 2;
  opacity: 0.92;
  box-shadow: 8px 6px 9px 0px #0e3e1e;
}

.our-cases .our-case{
  cursor: pointer;
  margin-bottom: 18px;
  color: rgba(255, 255, 255, 1);
}

.our-case .not-hover{
  display: block;
}

.our-case .hover{
  display: none;
}

.our-case:hover .hover{
  display: block !important;
  
}

.our-case:hover .not-hover{
  display: none;
}

.our-case .backgroud{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(142deg, #34BEC8 0%, rgba(99, 190, 200, 0) 100%);
  opacity: 0.92;
}

.our-case .footer{
  display: inline-block;
}

.our-case .footer::after{
  content: '';
  border: 5px solid transparent;
  border-left-color: white;
  display: inline-block;
  margin: 0 10px;
}


/*solution.html*/

.solution-center-container{
  margin-top: 120px;
}

.solution-center-container .node{
  cursor: pointer;
  padding-left: 30px;
  width: 330px;
}

.solution-center-container .active{
  width: 434px;
}

.solution-center-container .node:hover{
  color: #11AAB3;
  box-shadow: 2px 6px 11px 0px #c8c8c8;
}

.solution-center-container .caption{
  padding-left: 10px;
}

.solution-center-container .head .h3{
  margin-bottom: 20px;
  /* width: 100px; */
  font-size: 26px;
  line-height: 37px;
}

.solution-center-container .body {
  display: inline-block;
}

.solution-center-container .body.left {
  width: 260px;
}

.solution-center-container .body.right {
  width: 130px;
}

.solution-center-container .body .p{
  margin-bottom: 6px;
  font-size: 15px;
  line-height: 21px;
  opacity: 0.43;
}

.solution-center-container .node:hover .p{
  display: list-item;
  opacity: 1;
}

.mb-container h2,
.as-container h2,
.partner-container h2{
  margin-top: 120px;
}

.ps-container{
  margin-top: 32px;
}

.ps-container-bg{
  background: url('../images/pic_productsystem.jpg') no-repeat;
  background-size: 100% 100%;
  min-width: 1500px;
  padding-bottom: 97px;
}

.pinfo-margain{
  margin-top: -49px;
  margin-bottom: -30px;
}

.pinfo-margain .card{
  background: url('../images/pic_introduction.png') no-repeat;
  padding: 62px 87px 59px 60px
}

.pinfo-margain .card .head{
  font-size: 30px;
  line-height: 42px;
  color: #FFFFFF;
}

.pinfo-margain .card .body{
  width: 330px;
  margin: 20px 0;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}


.pinfo-margain .card .footer{
  cursor: pointer;
  width: 186px;
  border-radius: 27.5px;
  font-size: 20px;
  line-height: 28px;
  color: #273F4B;
  background-color: #FFFFFF;
}

.pinfo-margain .card .footer:hover{
  box-shadow: 0px 0px 14px 10px #359da0;
}

.pinfo-margain .card .footer span{
  display: inline-block;
  margin: 14px 38px;
}

.pinfo-card{
  color: #273F4B;
  padding: 30px;
  height: 160px
}

.pinfo-card .head1{
  font-size: 20px;
  line-height: 28px;
  width: 280px;
}

.pinfo-card .head1::after{
  content: url('../images/ic_arrow.png');
  display: inline-block;
  margin: 4px;
}

.pinfo-card .head2{
  font-size: 20px;
  line-height: 28px;
  width: 430px;
}

.pinfo-card .head2::after{
  content: url('../images/ic_arrow.png');
  display: inline-block;
  margin: 4px;
}

.pinfo-card .body{
  color: #888888;
  font-size: 14px;
  line-height: 24px;
  width: 267px;
  margin-top: 15px;

}


.as-container{
  height: 577px;
  background-image: linear-gradient(#FFFFFF, #DEF6F9);
}

.as-container .about{
  margin-top: 80px;
}

.as-container-flex{
  display: flex;
  padding: 0 24px;
  justify-content: space-between;
  height: 610px;
}

.as-card{
  color: #FFFFFF;
  padding: 50px 0 0 40px;
  width: 500px;
}

.as-card.w-sm{
  width: 431px;
}

.as-card.h-sm{
  height: 300px;
}

.as-card .head{
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 9px;
}

.as-card .body{
  font-size: 20px;
  line-height: 28px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 29px;
  margin-right: 40px;
}

.as-card .body.sm{
  padding-top: 14px;
  height: 112px;
  padding-bottom: 71px
}

.as-card .footer{
  margin-top: 56px;
  font-size: 20px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.6);
}

.as-card .footer .font-size-bg{
  font-size: 40px;
  line-height: 56px;
  margin-right: 28px;
  margin-bottom: -12px;
  color: rgba(255, 255, 255, 1);
}

.as-card .footer .font-size-bg::after{
  content: 'per';
  display: inline-block;
  font-size: 20px;
  margin-left: 12px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.6);
}

.partner-container{
  margin-top: 160px;
}

.partner-container h2{
  margin-top: 240px;
  margin-bottom: 140px;
}

.project-backgroud{
  background: url('../images/pic_partner.png') no-repeat;
}

.project-backgroud .partners .second{
  margin: 0 160px;
}

.partner-container .partner{
  width: 233px;
  margin-top: -86px;
  margin-bottom: 126px;
  border: 1px solid #9FE1E7;
}

.partner-container  .second .partner{
  
  margin-bottom: 58px;
}



footer {
  background: #273F4B;
  padding: 45px 0px;
  padding-bottom: 35px;
  min-width: 1500px;
}
footer .img {
  padding: 0;
}
footer img {
  width: 100%;
  max-width: 100px;
}
footer h3 {
  color: white;
  font-size: 26px;
  line-height: 37px;
  margin-bottom: 13px;
  margin-top: 0;
}

footer p {
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  opacity: 0.5;
}

footer p:nth-child(2) {
  margin-top: 37px;
}

footer .left {
  padding-left: 20px;
  padding-bottom: 30px;
}

footer .left p {
  margin-bottom: 45px;
}

footer .center {
  padding-left: 20px;
  padding-bottom: 30px;
}

footer .center p {
  margin-bottom: 28px;
}

footer .right {
  padding-left: 20px;
  padding-bottom: 30px;
}

footer .right p:nth-child(2), footer .right p:nth-child(6) {
  opacity: 0.82;
}

footer .content{
  padding-bottom: 23px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.23);
}

footer .footer{
  margin-top: 24px;
}

#collapseOne {
  transition: all 0.2s;
  margin-bottom: 15px;
}
#collapseOne a {
  display: block;
  margin-left: 5%;
  color: #888888;
  line-height: 40px;
}
#collapseOne a:nth-child(1) {
  line-height: 20px;
  padding-bottom: 10px;
}
.banner {
  width: 100%;
  position: relative;
  
}
.banner h2:before {
  content: ".";
  color: transparent;
  width: 60%;
  position: absolute;
  bottom: -29px;
  display: block;
  margin-left: 20%;
  height: 1px;
  background: #000;
}
.banner h2 {
  margin: 0;
  font-size: 56px;
  line-height: 78px;
  width: 1094px;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -mz-transform: translate(-50%, -50%);
  color: #000000;
  display: block;
}
.banner h2 span {
  padding-top: 8px;
  font-size: 26px;
  line-height: 37px;
}
.banner h2 .English {
  font-size: 20px;
  color: #b5b4b4;
  line-height: 30px;
  margin-top: 9px;
  font-weight: 100;
}


.d-flex{
  display: flex;
}

.d-flex .flex1{
  flex: 1 0 auto;
}

.d-flex.d-flex-justify-content-between{
  justify-content: space-between
}

.d-flex-justify-center{
  justify-content: center
}

.d-flex-align-item-end{
  align-items: flex-end;
}

.d-flex-wrap{
  flex-wrap: wrap;
}

.m-0 {
  margin: 0 auto !important;
}

.mb-10{
  margin-bottom: 10px;
}

.inline-block{
  display: inline-block;
}

.no-board{
  border: 0px;
}

.light-purple{
  background-color: #F6F6FF;
}

.light-blue{
  background-color: #E3F3FF;
}

.light-green{
  background-color: #E7FAFA;
}

.overflow-x-hidden{
  overflow-x: hidden;
}

.overflow-x-auto{
  overflow-x: auto;
}
